#Ignore generated dev and production folder
node_modules/
dist/
build/
dev/

#Ignore .idea folder for webstorm users
.idea/

#Ignore .vscode folder for visual studio users
.vscode/


# Other ignores
*.log
src_old
*.old.js
phaserTilemapfix
*.zip
legacy*
*.txt
dump/
*.docx
*.patch
*.bak*
*.old*
higherVolume/


